<h1>Shopmycourses c'est parti</h1>

<p>Bonjour <%= @user.firstname %> <%= @user.lastname %>,</p>
<p>Nous sommes heureux de vous accueillir parmi nos nouveaux utilisateurs.</p>
<p>Vous trouverez toutes les informations concernant notre application sur notre site de présentation <a href="http://www.shopmycourses.fr">www.shopmycourses.fr</a></p>
<p>Si jamais, vous avez davantage de questions, contactez-nous par mail à <a href="mailto:contact@shopmycourses.fr">contact@shopmycourses.fr</a> , nous nous ferons un plaisir de répondre à vos moindres questions.</p>
<p>En attendant, 1,2,3 Shopcoursez !!!</p>
