<h1>Rappel</h1>

<p>
  Bonjour <%= @user.firstname %> <%= @user.lastname %>,<br>

  Vous devez remplir votre panier avant <%= @limit %>, faute de quoi votre commande sera annulée automatiquement.
</p>