<html>
  <body>
    <%= yield %>

    <p>
      <p>
        Shopmycalement,
      </p>
      <p>
         L'équipe Shopmycourses.
      </p>
    </p>
    <%= image_tag image_url('email-logo.png'), width: '40%' %>
    <p>
      <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">10, rue de Penthièvre 75008 Paris</span>
    </p>
    <p>
      <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">
        <a href="mailto:contact@shopmycourses.fr" rel="noreferrer" target="_blank" style="color:#749aff">contact@shopmycourses.fr</a>
      </span>
    </p>
    <p>
      <a href="http://www.shopmycourses.fr/" rel="noreferrer" target="_blank">www.shopmycourses.fr</a>
    </p>

  </body>
</html>
