<html>
  <body>
    <%= yield %>

    <p>
      <p>
        Shopmycalement,
      </p>
      <p>
         L'équipe Shopmycourses.
      </p>
    </p>
    <img src="http://shopmycourses.herokuapp.com/assets/logo-a3d30e262bd25ab508087721d265fb741a2a27d6b0ed0931377be8efcf50d6d5.png" width="40%">
    <p>
      <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">10, rue de Penthièvre 75008 Paris</span>
    </p>
    <p>
      <span style="color:#749aff;font-size:10pt;font-family:times new roman,times,serif">
        <a href="mailto:contact@shopmycourses.fr" rel="noreferrer" target="_blank" style="color:#749aff">contact@shopmycourses.fr</a>
      </span>
    </p>
    <p>
      <a href="http://www.shopmycourses.fr/" rel="noreferrer" target="_blank">www.shopmycourses.fr</a>
    </p>

  </body>
</html>
